@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&display=swap');


@font-face {
  font-family: 'coconatbold_ext';
  src: url('coconat-boldext-webfont.woff2') format('woff2'),
       url('coconat-boldext-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'coconatregular';
  src: url('coconat-regular-webfont.woff2') format('woff2'),
       url('coconat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */

nav {
  word-spacing: 20px;
  background-color: #ADBCD9;
  width: auto;
  position: relative;
  display: flex; 
  justify-content: space-between;
  align-items: center; 
}

ul {
    list-style: none;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: .90%;
    line-height: 30px;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000000;
    font-family: 'Coda', sans-serif;
    font-size: 18px;
  }
  
  li a:hover {
    color: #555448;
  }


  /* icons aka social media */

  #twit, #fb, #in, #yt {
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 3px solid #eee;
    border-radius: 100%;
    cursor: pointer;
    color: #fff;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
    box-shadow: -1px 3px 13px #404040;
    margin-left: 20px;
    vertical-align: middle;
  }
  
  #twit:hover, #fb:hover, #in:hover, #yt:hover {
    margin-top: 5px;
  }

      /* search */

      .search-container {
        position: relative;
        display: inline-block;
      }
      
      #search-toggle {
        border: none;
        background-color: transparent;
        color: #000;
        cursor: pointer;
      }
      
      #search-form {
        position: absolute;
        top: 100%;
        right: 100%;
        display: none;
      }
      
      #search-form.show {
        display: block;
      }
      
      #search-form input[type="text"] {
        width: 150px;
      }
      
      #search-form button[type="submit"] {
        border: none;
        background-color: #ADBCD9;
        color: #fff;
        padding: 5px 10px;
        cursor: pointer;
      }
      
      #search-toggle:focus + #search-form,
      #search-form:focus-within {
        display: block;
      }
      
      #search-form.show {
        left: -200px;
      }
      
   /* header */

  header {
    background-image: url("images/hero.png");
    height: 65vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: cover;
    text-align: center;
  }

  .header-place {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: cover;
  }

