@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&display=swap');


@font-face {
  font-family: 'coconatbold_ext';
  src: url('coconat-boldext-webfont.woff2') format('woff2'),
       url('coconat-boldext-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'coconatregular';
  src: url('coconat-regular-webfont.woff2') format('woff2'),
       url('coconat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */

nav {
  word-spacing: 20px;
  background-color: #ADBCD9;
  width: auto;
  position: relative;
  display: flex; 
  justify-content: space-between;
  align-items: center; 
}

ul {
    list-style: none;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: .90%;
    line-height: 30px;
    margin-left: .5%;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000000;
    font-family: 'Coda', sans-serif;
    font-size: 18px;
  }
  
  li a:hover {
    color: #555448;
  }


  /* icons aka social media */

  #twit, #fb, #in, #yt {
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 3px solid #eee;
    border-radius: 100%;
    cursor: pointer;
    color: #fff;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
    box-shadow: -1px 3px 13px #404040;
    margin-right: 20px;
  }
  
  #twit:hover, #fb:hover, #in:hover, #yt:hover {
    margin-top: 5px;
  }
      
   /* header */

   header {
    background-image: url("images/hero.png");
    height: 65vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: cover;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header-place {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: cover;
  }

  /* overlay */
  
  .container {
    position: relative;
    pad: 0%;
    margin: 0%;
  }
  
  .box {
    background-image: url('images/header.jpg');
    background-size: cover;
    
  }
  
  .overlay {
    position: relative;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFCD8;
    height: 400px;
    width: 50%;
    max-width: 1200px;
    z-index: 1;
    box-shadow: -1px 3px 13px #404040;
  }
  
  h1 {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -80%);
    color: #000000;
    font-size: 3em;
    z-index: 1;
    text-align: center;
    font-family: 'Coconat';
    font-weight: bold;
    line-height: 150%;
    margin-top: 20px;
  }
  
  .button-1 {
    background: #BFA08E;
    color: #000000;
    padding: 10px 15px;
    text-align:center;
    font-family: 'Coda', sans-serif;
    justify-content: center;
    width: 160px;
  }
  
  .hero-button {
    position: absolute;
    top: 5%; 
    left: 50%; 
    transform: translate(-50%, 440%); 
    z-index: 2;
  }

  /* what we do */
  
  .container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 0px;
    position:relative;
    z-index: 3;
  }
  
  h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    margin-top: 0px;
    position: relative;
  }
  
  p {
    text-align: center;
    font-size: 27px;
    line-height: 1.5;
    padding: 15% 15% 3%;
  margin-top: 0px; 
  margin-bottom: 0px; 
    padding-top: 0%;
    font-family: 'Coda'; 
  }
  
  .color-block {
    background-color: #D1DAEA;
    height: 20px;
    width: 50%;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: -15%;
  }

  /* third sec */
  
  .color-block2 {
      position: absolute;
      background-color: #FFFCD8;
      height: 40%;
      width: 100%;
      z-index: 3;
      box-shadow: -1px 3px 13px #404040;
      font-family: 'Coda';
    }

    
  #user_, #wallet, #time {
    display: inline-block;
    height: 50px;
    width: 50px;
    cursor: pointer;
    color: #fff;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 5%;
   
  }

  .icons2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    object-fit: contain;
  }
  
  .icons2 > div {
    display: inline-block;
    text-align: center;
    margin: 0 20px;
    object-fit: contain;
  }
  
  .icons2 > div img {
    height: 50px;
    width: 50px;
    cursor: pointer;
    color: #fff;
  }
  
  .icons2 > div span {
    display: block;
    font-size: 25px;
    margin-top: 10px;
    color: #000;
  }

  
  .money {
    display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25%;
  }
  
  #help{
    margin-left: 40px;
    position: relative; 
    z-index: 4;
    width: auto;
  }
  
  .bandage-image {
    position: absolute;
    top: 140%;
    left: 20%;
    z-index: 5;
    margin-top: 1%;
  }

  #help, .bandage-image {
    float: left;
  }
  
  .help-bandage-text {
    float: left;
    margin-left: 20px;
    width: calc(100% - 160px); /* adjust the width as needed */
  }


  .help-bandage {
    
    vertical-align: middle;
  }
  
  .help-bandage-text {
    
    vertical-align: middle;
    margin-left: 10px;
  }

  

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 6;
    margin-bottom: 20px;
  }

  .column p {
    margin-top: 10px;
    text-align: center;
  } 

  .color-block3 {
    height: 170px;
    width: 150px;
    background-color: #FFFCD8;
    float: left;
    position: absolute;
    top: 320%;
    left: 33%;
    z-index: 7;
  }
  

  h3 {
    text-align: left;
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: 0px;
    position: relative;
  }

  h4 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 5px;
    margin-top: 0px;
    position: relative;
  }

  .years {
    font-size: 20px;
    font-family: 'Coda';
    text-align: center;
  }
  
  .month {
    font-size: 27px;
    line-height: 1.5;
    padding: 15% 15% 3%;
  margin-top: 0px; 
  margin-bottom: 0px; 
    padding-top: 0%;
    font-family: 'Coda'; 
    text-align: left;
  }

  .color-block4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFCD8;
    padding: 30px;
    margin-top: 5%;
    flex-direction: column;
   
  }

  .container3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    flex-direction: column;
  }
  
  .fatal-injury-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .fatal {
    margin: 0;
    font-size: 32px;
    line-height: 1.5;
    font-family: 'Coda'; 
    padding: 10px 5px 10px;
    flex-direction: column;
    flex: 1;
  }
  
  .person-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    flex-direction: column;
    flex: 2;
  }
  
  .person {
    width: 200px;
    height: auto;
    margin: 0 20px;
  }
  
  .injury {
    margin: 0;
    font-size: 32px;
    line-height: 1.5;
    font-family: 'Coda'; 
    padding: 10px 5px 10px;
    flex: 3;
  }

  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin-right: 10px;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }