@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&display=swap');

@font-face {
  font-family: 'coconatbold_ext';
  src: url('coconat-boldext-webfont.woff2') format('woff2'),
       url('coconat-boldext-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'coconatregular';
  src: url('coconat-regular-webfont.woff2') format('woff2'),
       url('coconat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  word-spacing: 20px;
  background-color: #ADBCD9;
  width: auto;
}

ul {
    list-style: none;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: .90%;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000000;
    font-family: 'Coda', sans-serif;
    font-size: 18px;
  }
  
  li a:hover {
    color: #555448;
  }

  h1 {
    font-family: 'coconatregular';

  }